<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098048921319-nki2c5eg3ctb5jbqco792jeb0a0dcurf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098048921319-nki2c5eg3ctb5jbqco792jeb0a0dcurf</string>
	<key>API_KEY</key>
	<string>AIzaSyDWady54jzbhDZj4YGfNMt7T4lqI7tfNE8</string>
	<key>GCM_SENDER_ID</key>
	<string>1098048921319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kkek</string>
	<key>PROJECT_ID</key>
	<string>kkek-ef277</string>
	<key>STORAGE_BUCKET</key>
	<string>kkek-ef277.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098048921319:ios:574c30ab680ca610978c42</string>
</dict>
</plist>